.bg__part_contacts {
	width: 10.4%;
	.bg__inner {
		width: 55.2vw;
	}
	@for $i from 1 through 5 {
		&:nth-child(#{$i}) {
    		right: 13.6% + ((4 - $i) * 10.4%);
    		.bg__inner {
    			left: 0% - (($i - 1) * 100%);
    		}
    	}
  	}
  	&:nth-child(1) {
  		.bg__inner {
  			left: 0;
  		}
  	}
  	&:nth-child(5) {
  		width: 13.6%;
  		right: 0;
  		.bg__inner {
  			left: -306%;
  		}
  	}
}
.page_current {
	.bg__part_contacts {
		@for $i from 1 through 5 {
			&:nth-child(#{$i}) {
	    		transition: width 1.5s ease-in-out 0s, transform 1s ease-in-out 1.8s + ($i * 0.2s);
	    	}
	  	}
	}
}
.page_fromBottom {
	.bg__part_contacts {
		@for $i from 1 through 5 {
			&:nth-child(#{$i}) {
	    		transition: width 1.5s ease-in-out 0s, transform 1s ease-in-out 0.8s + ($i * 0.2s);
	    	}
	  	}
	}
}
.page_toTop {
	.bg__part_contacts {
		@for $i from 2 through 6 {
			&:nth-child(#{$i}) {
	    		transition: width 1.5s ease-in-out 0s, transform 1s ease-in-out 0.8s + ($i * 0.2s);
	    	}
	  	}
	}
}
.contactsTxt {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 31.2%;
	margin-right: 55.2%;
	margin-left: 13.6%;
}
.textWrap_contactsSubHead {
	margin-top: 4em;
	margin-bottom: 2em;
}
.contactsTxt__subHead {
	font-family: 'ProximaNova', sans-serif;
	font-size: 2em;
	font-weight: 400;
	color: $wht;
	text-transform: uppercase;
}
.textWrap_contactsTxt {
	margin-top: 2em;
	margin-bottom: 2em;
}
.contactsTxt__txt {
	font-family: 'ProximaNova', sans-serif;
	font-size: 1.4em;
	color: $wht;
	a {
		color: inherit;
		text-decoration: none;
		cursor: inherit;
	}
}
.subHead_contacts,
.contactsTxt__subHead,
.contactsTxt__txt {
	transform: translateY(0%);
	transition: transform 1.5s ease-in-out;
}
.page_current {
		.subHead_contacts,
		.contactsTxt__subHead,
		.contactsTxt__txt {
			transform: translateY(0%);
			transition-delay: 3.3s;
	}
}
.page_fromBottom,
.page_toTop {
		.subHead_contacts,
		.contactsTxt__subHead,
		.contactsTxt__txt {
			transform: translateY(200%);
			transition-delay: 0s;
	}
}