.mobMenu {
	display: none;
	&:before {
		content: "";
		display: block;
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		transform: translateY(-100%);
		background-color: $blu;
		z-index: 250;
		transition: transform 1s ease-in-out 0.5s;
	}
}
.btn_mobMenu {
	position: relative;
	z-index: 300;
	.btn__line {
		display: block;
		width: 60%;
		height: 1px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		background-color: $wht;
		transition: all 0.5s ease-in-out 1s;
		&:before,
		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			position: absolute;
			background-color: $wht;
			transform: rotate(0deg);
			transition: all 0.5s ease-in-out 1s;
		}
		&:before {
			top: -5px;
		}
		&:after {
			top: 5px;
		}
	}
}
.header_mobMenuOpen{
	.mobMenu {
		&:before {
			transform: translateY(0%);			
			transition: transform 1s ease-in-out 0s;
		}
		.btn_mobMenu {
			.btn__line {
				background-color: transparent;
				transition: all 0.2s ease-in-out 0.5s;
				&:before,
				&:after {
					transition: all 0.2s ease-in-out 0.5s;
				}
				&:before {
					top: 50%;
					transform: rotate(45deg);
				}
				&:after {
					top: 50%;
					transform: rotate(-45deg);
				}
			}
		}
	}
}
@media only screen and (max-width: 1250px) {
	.header {
		justify-content: space-between;
		box-sizing: border-box;
		padding-left: 13.6%;
		padding-right: 13.6%;
	}
	.logo__wrap {
		width: calc(100% / 7);
		margin-left: 0;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	.logo {
		width: 100%;
	}
	.menu,
	.lang {
		position: absolute;
		z-index: 300;
		visibility: hidden;
		transition: visibility 0s linear 0.5s;
	}
	.menu {
		height: 100vh;
		top: 0;
		flex-direction: column;
		justify-content: center;
	}
	.menu__item {
		margin-top: 1em;
		margin-bottom: 1em;
		width: 100%;
		overflow: hidden;
		&:before,
		&:after {
			display: none;
		}
	}
	.menu__link {
		font-family: 'Bodoni', serif;
		font-size: 3.1em;
		font-weight: 700;
		line-height: 1.25em;
		text-transform: unset;
		padding-left: 0;
		transform: translateY(100%);
		transition: transform 0.5s ease-in-out 0s;
	}
	.lang {
		transform: translateX(0%);
	}
	.lang__item {
		text-align: left;
		overflow: hidden;
		&:last-child {
			&:before {
				display: none;
			}
		}
	}
	.lang__link {
		font-family: 'ProximaNova', sans-serif;
		font-size: 1.1em;
		color: $lighBlu;
		transform: translateY(100%);
		transition: transform 0.5s ease-in-out 0s;
	}
	.lang__link_active {
		color: $wht;
	}
	.mobMenu {
		display: block;
	}
	.header_mobMenuOpen {
		.menu,
		.lang {
			visibility: visible;
			transition: visibility 0s linear 1s;
		}
		.menu__link,
		.lang__link {
			transform: translateY(0%);
			transition: transform 0.5s ease-in-out 1s;
		}
	}
}
@media only screen and (max-width: 1000px) {
	.header {
		padding-left: 10%;
		padding-right: 10%;
	}
	.logo__wrap {
		width: 40%;
	}
}
@media only screen and (max-width: 900px) and (orientation: landscape) {
	.logo__wrap {
		height: 44px;
	}
	.menu__item {
		margin-top: 0;
		margin-bottom: 0;
	}	
	.menu__link {
		font-size: 2.6em;
	}
}
@media only screen and (max-width: 420px) and (orientation: portrait) {
	.logo__wrap {
		height: 44px;
	}
}
@media only screen and (max-width: 350px) and (orientation: portrait) {
	.menu__link {
		font-size: 2.6em;
	}
}