$blu: #1b417b;
$grey: #6e6a67;
$wht: #fff;
$border: #aeaeae;
$lighBlu: #bfc4d3;
$darkBlu: #193e75;
$formBlu: #3d5d8f;
$aboutTxt: #2b2b2b;
$gridGrey: rgba(179,179,179,0.3);
$langGrey: #b3b3b3;
$teamTxt: #292828;